@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    /* background: ghostwhite; */
    /* background: #ffffff; */
    background: #8e8f94;
    /* background: #e7e7e7; */
    /* background: #e3e4e5; */
  }
}

@layer components {
  ._inter {
    font-family: "Inter", sans-serif;
  }

  ._monts {
    font-family: "Montserrat", sans-serif;
  }

  ._federo {
    font-family: "Federo", sans-serif;
  }

  ._squada {
    font-family: 'Squada One', sans-serif;
  }

  ._oswald {
    font-family: 'Oswald', sans-serif;
  }

  .repeating-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(100%); /* Invert colors for the pattern, optional */
    background-image: url('/public/assets/badge.svg'); /* Replace with the path to your pattern image */
    background-repeat: repeat;
  }

  input,
  textarea {
    border: none;
    resize: none;
    background-color: rgb(0 0 0 / 0);
  }

  input:focus,
  textarea:focus {
    outline: none;
    background-color: rgb(0 0 0 / 0);
  }
}

html {
  scroll-behavior: smooth;
}